*~

# ignore packer artifacts
packer_cache
# ignore generated .box files
*.box

# ignore variables file for packer
variables.json

# ignore X.509 keys
*.pem

# virtual box intermediates
output-virtualbox/
